@import "tailwindcss";

@theme {
  --font-vazir: 'var(--font-vazir)'
}
@theme {
  
  --font-orbitron : 'var(--font-orbitron)'
}
@theme {
  /* --color-gold : #ccac00 */
  --color-gold : #ae8625
  /* --color-gold : #d2ac47 */
}


@custom-variant dark (&:where(.dark, .dark *));

.mySwiper {
  @apply pb-4; /* فاصله برای دکمه‌های ناوبری */
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-white bg-orange-600 rounded-full p-3;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply bg-orange-500;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply hidden; /* حذف آیکون پیش‌فرض Swiper */
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
