@import "tailwindcss";

@theme {
  --breakpoint-mb : 520px
}

@theme {
  --font-vazir: 'var(--font-vazir)'
}

@theme {
  /* --color-gold : #ccac00 */
  --color-gold : #ae8625
  /* --color-gold : #d2ac47 */
}


@custom-variant dark (&:where(.dark, .dark *));

.mySwiper {
  @apply pb-4; /* فاصله برای دکمه‌های ناوبری */
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-white bg-orange-600 rounded-full p-3;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply bg-orange-500;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  @apply hidden; /* حذف آیکون پیش‌فرض Swiper */
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* پس‌زمینه اسکرول‌بار (Track) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* خود اسکرول‌بار (Thumb) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #ff6200, #ae8625); /* نارنجی تا طلایی */
  border-radius: 10px;
  box-shadow: 0 0 10px #ff620080, 0 0 20px #ae862540;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px #ff6200, 0 0 25px #ae862580;
}

/* برای Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff6200 #111111; /* thumb رنگ اول، track رنگ دوم */
}

html.dark * {
  scrollbar-color: #ae8625 #111111;
}
/* استایل‌های جدید برای سایدبار */
#sidebar-toggle:checked ~ .sidebar {
  transform: translateX(0);
}
.scroll-box {
  scrollbar-width: thin;
  scrollbar-color: #acacac #e5e5e5;
}
.scroll-box-dark {
  scrollbar-width: thin;
  scrollbar-color: #202020 #2e2e2e;
}

